@font-face {
    font-family: 'Rubik';
    src: url(../Rubik.woff2) format('woff2');
    font-display: swap;
}

:root {
    --light-color: #ffffff;
    --background-color: rgba(33, 34, 51, 0.9);
    --body-color: #0D0C14;
    --dark-color: #000000;
    --accent-color: #A48EFF;
    --dark-accent: #340060;
    --box-shadow-color: #ccc;
    --error-color: #cf1a32;
    --about-color: #000;
    --bezier: cubic-bezier(0.25, 0.1, 0.25, 1);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
    box-sizing: border-box;
}

.error {
    color: var(--error-color);
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
p,
p2,
a,
li,
label {
    font-family: 'Rubik', sans-serif;
}

/* navbar */
#navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: normal;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    z-index: 99;
}

.nav-button {
    float: left;
    padding-right: 1vw;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.nav-button a {
    text-decoration: none;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 0.05rem;
    color: var(--light-color);
    white-space: nowrap;
}

#settings {
    display: flex;
    align-items: center;
}

#login {
    margin-top: 18px;
    margin-right: 0.5vw;
}

#login img {
    width: 25px;
    height: 25px;
    border-radius: 8px;
}

.selected a {
    border-bottom: 2px solid var(--light-color);
}

#leftbar {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding-left: 1vw;
}

#middlebar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

#middlebar img {
    width: 50px;
}

#middlebar h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: var(--light-color);
    white-space: nowrap;
    padding-right: 5px;
}

#rightbar {
    display: flex;
    justify-content: right;
    text-align: right;
    width: 100%;
    height: 100%;
    padding-right: 1vw;
}

#rightbar .searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
}

#rightbar .searchbar p {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    background-color: #3a3a43e6;
    border-radius: 100%;
    color: var(--dark-color);
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 10px rgba(33, 34, 51, 1);
    /* added */
}

#rightbar .points {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#rightbar .points p {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--accent-color);
    border-radius: 7px;
    color: var(--light-color);
    white-space: nowrap;
}

#rightbar p {
    font-size: 17px;
}

@media (max-width: 1050px) {
    #middlebar {
        margin-right: 20px;
    }
}

@media (max-width: 675px) {

    #navbar {
        height: 50px;
    }

    #leftbar {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        margin-top: 10px;
    }
}

#searchbar {
    width: 20px;
    height: 15px;
    background-color: #333;
}

/* end navbar */

/*#region scrollbar*/

html {
    scrollbar-width: thin;
    scrollbar-color: #AAADBE transparent;
}

/* end page-scrollbar */

/* footer */
footer {
    margin-top: 18vh;
    position: relative;
    z-index: 9999;
    width: 100vw;
    background-color: #000000;
    padding: 24px 0px;
}


@media (max-width: 675px) {
    footer {
        margin-top: 2vh;
    }
}

footer .footSections {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0vw;
    justify-content: center;
}

footer .footSection {
    width: 25vw;
    height: 100%;
}

footer .teamFoot {
    font-size: 1vw;
    font-family: 'Rubik';
    color: var(--light-color);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vw;
    justify-content: center;
    text-align: center;
}

footer h1 {
    font-size: 1.5vw;
}

footer h1,
footer p,
footer a {
    color: var(--light-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent-color);
}

footer .bottomFoot {
    text-align: center;
    color: var(--light-color);
    font-size: 0.8vw;
    font-family: 'Rubik';
}

/* end footer */

input[type='text'],
input[type='password'] {
    font-family: 'Rubik';
    margin: auto;
    width: 20vw;
    height: 5vh;
    box-sizing: border-box;
    border: transparent;
    border-radius: 17px;
    font-size: 1vw;
    background-color: var(--light-color);
    outline: none;
    padding: 1vh 1vw 1vh 1vw;
    transition: width 0.4s ease-in-out;
    margin-bottom: 3vh;
    color: var(--dark-color);
}

input[type='file'] {
    font-family: 'Rubik';
    margin: auto;
    width: 20vw;
    height: 5vh;
    background-color: var(--light-color);
    border: transparent;
    border-radius: 17px;
    color: var(--dark-color);
    box-sizing: border-box;
    outline: none;
    font-size: 1vw;
    margin-bottom: 4vh;
    padding: 1vh 1vw 1vh 1vw;
    box-sizing: border-box;
    margin-bottom: 3vh;
    transition: width 0.4s ease-in-out;
}

select {
    font-family: 'Rubik';
    margin: auto;
    width: 20vw;
    height: 5vh;
    box-sizing: border-box;
    border: transparent;
    border-radius: 17px;
    font-size: 1vw;
    background-color: var(--light-color);
    outline: none;
    padding: 1vh 1vw 1vh 1vw;
    transition: width 0.4s ease-in-out;
    margin-bottom: 3vh;
    color: var(--dark-color);
}

.button {
    padding: 20px 30px 20px 30px;
    height: auto;
    border: none;
    color: var(--light-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25vw;
    font-family: 'Rubik';
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 20px;
    font-weight: 900;
    transition: opacity 0.3s ease;
    transition: transform 0.1s ease;
}

.button:hover {
    transform: scale(1.05);
}

.button>img,
.button>span {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

.swal-text {
    font-family: 'Rubik';
}

#tilde-icon {
    width: 35px;
}

/* tooltip */
[tooltip] {
    position: relative;
}

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    font-size: 0.9em;
    line-height: 0.7;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 4px solid transparent;
    z-index: 1001;
}

[tooltip]::after {
    content: attr(tooltip);
    font-family: Rubik;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 0.3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

[tooltip]:not([flow])::before,
[tooltip][flow^='up']::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^='up']::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^='up']::before,
[tooltip][flow^='up']::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
}

[tooltip][flow^='down']::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^='down']::after {
    top: calc(100% + 5px);
}

[tooltip][flow^='down']::before,
[tooltip][flow^='down']::after {
    left: 50%;
    transform: translate(-50%, 0.5em);
}

[tooltip][flow^='left']::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
}

[tooltip][flow^='left']::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
}

[tooltip][flow^='right']::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
}

[tooltip][flow^='right']::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
}

@keyframes tooltips-vert {
    to {
        opacity: 0.9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: 0.9;
        transform: translate(0, -50%);
    }
}

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^='up']:hover::before,
[tooltip][flow^='up']:hover::after,
[tooltip][flow^='down']:hover::before,
[tooltip][flow^='down']:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^='left']:hover::before,
[tooltip][flow^='left']:hover::after,
[tooltip][flow^='right']:hover::before,
[tooltip][flow^='right']:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

/* end tooltip */

/* games */
#gameDiv {
    width: 220px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    transition: 0.1s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#gameDiv:hover {
    cursor: pointer;
    transform: scale(1.03);
    outline: 3px solid var(--accent-color);
    z-index: 1;
}

#gameDiv:after {
    content: '';
    opacity: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 220px;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0)30%);
    transition: box-shadow 0.6s var(--bezier), opacity 0.2s var(--bezier);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.24);
}

#gameDiv:hover:after {
    opacity: 1;
}

#gameDiv .imageCon {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameDiv .imageCon.partner {
    background-color: var(--dark-accent);
}

#gameDiv .imageCon img {
    object-fit: cover;
    border-radius: 8px;
    width: 220px;
    height: 120px;
}

#gameDiv .imageCon img.partner {
    object-fit: contain;
    border-radius: 8px;
}

#gameDiv input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

#gameDiv .innerGameDiv {
    position: absolute;
    font-size: 15.4px;
    font-family: 'Rubik';
    font-weight: 700;
    color: var(--light-color);
    opacity: 1;
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    transition: visibility 0s, opacity 0.2s linear;
    margin: 0%;
    z-index: 4;
    text-align: left;
    width: calc(100% - 16px);
    text-align: left;
    bottom: 6px;
    text-wrap: pretty;
}

#gameDiv:hover .innerGameDiv {
    visibility: visible;
    opacity: 1;
}

#gameDiv #pin {
    position: absolute;
    top: -10%;
    left: 85%;
    border: none;
    background-color: transparent;
    transition: all 0.1s;
    cursor: pointer;
}

#gameDiv #pin:hover {
    transform: scale(1.1);
}

#gameDiv #pin img {
    width: 40px;
    height: 40px;
}

#newbanner {
    position: absolute;
    top: -5%;
    left: -5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#newbanner img {
    width: 80px;
    height: 80px;
}

.horizontalCon {
    text-align: center;
    width: 100%;
    position: relative;
}

.horizontalCon .gamesCon {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 10px 8px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.titleContainer {
    position: relative;
    width: 100%;
}

.titleContainer .double-arrow {
    display: none;
}

/* 
.horizontalCon .gamesCon #gameDiv:nth-child(1) {
    margin-left: 2%;
} */

.horizontalCon .gamesCon::-webkit-scrollbar {
    display: none;
}

.horizontalCon .arrowsCon {
    z-index: 5;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    width: 100%;
}

.horizontalCon .arrowsCon>* {
    pointer-events: auto;
}

.arrowsCon .arrowCon {
    cursor: pointer;
    height: 120px;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.arrowsCon .arrowCon .arrow {
    width: 22px;
    transition: transform 0.1s;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.arrowsCon .arrowCon:hover>.arrow,
.arrowCon {
    transform: scale(1.08);
}

.horizontalCon:hover>.arrowsCon .arrowCon {
    background-color: #00000067;
}

.horizontalCon:hover>.arrowsCon .arrowCon .arrow {
    opacity: 1 !important;
}

.arrowsCon>.arrowCon:hover {
    background-color: #000 !important;
}

#games {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    gap: 7.5px;
}

#games h1 {
    margin-right: auto;
    color: var(--light-color);
    font-size: 1.3rem;
    margin-bottom: 0%;
    margin-top: 15px;
}

#games h1 a {
    font-size: 1.1rem;
    margin-left: 10px;
}

#games h2,
#games h1 {
    margin-right: auto;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 0%;
    margin-top: 15px;
}

#games h2 a,
#games h1 a {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 700;
}

#games h2 a:hover,
#games h1 a:hover {
    color: #6842FF;
}

/* end games */

/* message */
.message {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    z-index: 99999;
    min-width: 150px;
    padding: 15px;
    color: var(--light-color);
    font-family: Rubik;
    border-radius: 20px;
    background-color: var(--accent-color);
}

/* sidebar */

.sidebar {
    position: fixed;
    display: flex;
    left: 0;
    width: 60px;
    top: 60px;
    overflow-x: hidden;
    height: calc(100vh - 60px);
    background-color: #0c0d14;
    transition: visibility 0s, all .15s ease-in-out;
    z-index: 99999;
    border-right: 1px solid #28293d;
    scrollbar-width: none;
}

.sidebar.open {
    width: 0px;
}

.sidebar:hover {
    width: 200px;
    scrollbar-width: thin;
    scrollbar-color: #aaadbe #0000;
    /* Corrected scrollbar-color property */
}

.sidebar .close {
    display: none;
}

.desktop_toggle_button {
    transition: none !important;
}

.desktop_toggle_button.rotate {
    transform: rotate(180deg) !important;
}

.sidebar .navbar__menu {
    padding: 0;
}

.sidebar .navbar__menu li {
    color: #fff;
    list-style-type: none;
    align-items: center;
    height: 34px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    width: 200px;
}

.sidebar .navbar__menu li.active {
    border-left: 6px solid #a48eff;
}

.sidebar .navbar__menu li.active .emoji {
    margin-left: -6px;
}

.sidebar .navbar__menu li.active a {
    color: #a48eff;
}

.sidebar .navbar__menu li .emoji {
    height: 34px;
    width: 61px;
    font-size: 20px;
    text-align: center;
}

.sidebar .navbar__menu li a {
    color: #fff;
}

.sidebar .navbar__menu li:hover a {
    color: #aaadbe;
    transition: visibility 0s, opacity .3s, all .2s ease-in-out;
    transform: translate(8px, 0);
}

/* 1. Make each LI a positioning context */
.sidebar .navbar__menu li {
    position: relative;
  }
  
  /* 2. Stretch the <a> to cover the entire LI */
  .sidebar .navbar__menu li > a.menu-link {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;           /* preserve your flex layout */
    align-items: center;     /* preserve vertical centering */
    padding: inherit;         /* inherit the LI’s padding */
    text-decoration: none;    /* remove underline */
    color: inherit;           /* keep the LI’s text color */
    background: transparent;  /* let the LI’s background show */
    z-index: 1;               /* sit above the LI’s content */
  }
  
  /* 3. Ensure the emoji and text remain on top */
  .sidebar .navbar__menu li > a.menu-link .emoji,
  .sidebar .navbar__menu li > a.menu-link span {
    position: relative;
    z-index: 2;
  }

  .sidebar .navbar__menu li.active > a.menu-link {
    background: #34495e;    /* or whatever your active color was */
  }



.button_svg,
.mobile_toggle {
    height: 24px;
    width: 24px;
    display: inline-block;
    fill: currentcolor;
    color: #eff0f7;
}

.mobile_toggle_button {
    display: none;
}

.desktop_toggle_button {
    border-radius: 30px;
    transition: all 250ms ease;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-weight: 800;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    background: 0 0;
    color: #eff0f7;
    width: 48px;
    margin-right: 4px;
    margin-left: 20px;
    box-shadow: none;
}

.sidebar .mobile_button {
    display: none;
}

#middlebar a {
    display: flex;
    align-items: center;
}

#searchBar {
    border-radius: 30px;
    fill: #AAADBE;
    height: 40px;
    background-color: #373952;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px;
    font-weight: 700;
    font-size: 16px;
    color: #AAADBE;
    outline: 0;
    padding-left: 16px;
    width: 460px;
}

#searchBar:focus {
    border-color: #6842FF;
}

@media only screen and (max-width:1023px) {

    html,
    body {
        overflow-x: hidden;
    }

    .sidebar {
        top: 0;
        width: 0;
        height: 100%;
        background-color: rgb(26, 27, 40);
        overflow: hidden;
    }

    .sidebar:hover {
        width: 0%;
    }

    .sidebar.open {
        width: 100%;
        display: block;
        height: 100%;
        overflow-y: scroll;
    }

    .sidebar.open #navbar-menu {
        margin: 0;
    }

    .sidebar .mobile_button {
        width: 100%;
        display: flex;
        padding: 8px;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: rgb(26, 27, 40);
    }

    .sidebar .close {
        border-radius: 30px;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 16px;
        box-sizing: border-box;
        padding: 8px 16px;
        background: transparent;
        color: #EFF0F7;
        height: 40px;
        padding: 0;
        margin-left: 4px;
        margin-top: -2px;
    }

    .sidebar .close svg {
        width: 26px;
        height: 26px;
        fill: #fff;
    }

    .desktop_toggle_button {
        display: none;
    }

    .mobile_toggle_button {
        border-radius: 30px;
        transition: all 250ms ease;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 16px;
        box-sizing: border-box;
        padding: 0;
        background: 0 0;
        color: #eff0f7;
        width: 48px;
        margin-right: 4px;
        margin-left: 14px;
        box-shadow: none;
    }

    #middlebar {
        justify-content: left;
    }

    #middlebar h1 {
        font-size: 20px;
    }

    #middlebar img {
        width: 40px;
    }

    #leftbar {
        display: none;
    }

    #rightbar .nav-button,
    #rightbar #settings {
        display: none;
    }

    #rightbar .searchbar {
        margin-right: 5px;
    }

    #rightbar .searchbar p {
        padding: 6px;
        margin: 0;
    }

    #rightbar .searchbar p img {
        height: 22px;
        width: 22px;
    }

    .sidebar .navbar__menu li {
        width: 100%;
    }

    #navbar {
        background-color: #0C0D14;
    }

    footer .footSection {
        width: 100%;
    }

    footer .bottomFoot {
        font-size: 2.8vw;
    }

    footer .contact,
    footer .legal {
        font-size: 4.5vw;
    }

    #searchBar {
        width: 300px;
    }

    .titleContainer .double-arrow {
        display: inline-block;
        fill: #fff;
        height: 24px;
        width: 24px;
        position: absolute;
        right: 8px;
        top: 0;
        width: 15px;
        z-index: 3;
        margin-top: 15px;
    }

    .arrowsCon {
        display: none !important;
    }

    #searchcatParent #filteredGames {
        display: grid;
        grid-template-columns: auto auto;
        box-sizing: border-box;
    }

    #searchcatParent #filteredGames #gameDiv {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

.main-content, .layout {
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
    .main-content {
        padding-top: 30px;
    }
}

@media (min-width: 1024px) {
    .desktop-hide {
        display: none !important;
    }

    .main-content {
        padding-left: 60px;
        width: 100%;
    }

    .sidebar-open .main-content {
        padding-left: 0px;
    }

    .layout {
        padding-left: 8px;
    }
}

.game-title,
#pinGamesLabel,
#likedGamesLabel {
    padding-left: 8px;
}

#middlebar img:hover {
    animation-duration: 0.2s;
    animation-name: animation;
    animation-iteration-count: infinite;
}

@keyframes animation {
    50% {
        transform: translateX(1.5px) rotate(2deg);
    }

    100% {
        transform: translateX(-1.5px) rotate(-2deg);
    }
}

@media (min-width: 0px) {

    #gameDiv,
    #gameDiv .imageCon img,
    #gameDiv:after {
        width: calc((100vw - 76px) / 2.25);
        height: calc(((((100vw - 76px) / 2.25) - 4px) * 0.5617977528089888) + 4px);
    }
}

@media (min-width: 600px) {

    #gameDiv,
    #gameDiv .imageCon img,
    #gameDiv:after {
        width: calc((100vw - 76px) / 3.25);
        height: calc(((((100vw - 76px) / 3.25) - 4px) * 0.5617977528089888) + 4px);
    }
}

@media (min-width: 800px) {

    #gameDiv,
    #gameDiv .imageCon img,
    #gameDiv:after {
        width: calc((100vw - 76px) / 4.25);
        height: calc(((((100vw - 76px) / 4.25) - 4px) * 0.5617977528089888) + 4px);
    }
}

@media (min-width: 1000px) {

    #gameDiv,
    #gameDiv .imageCon img,
    #gameDiv:after {
        width: calc((100vw - 76px) / 5.25);
        height: calc(((((100vw - 76px) / 5.25) - 4px) * 0.5617977528089888) + 4px);
    }
}

@media (min-width: 1200px) {

    #gameDiv,
    #gameDiv .imageCon img,
    #gameDiv:after {
        width: calc((100vw - 76px) / 6.25);
        height: calc(((((100vw - 76px) / 6.25) - 4px) * 0.5617977528089888) + 4px);
    }

    .arrowsCon .arrowCon {
        cursor: pointer;
        height: calc(((((100vw - 76px) / 6.25) - 4px)* 0.5617977528089888) + 4px);
    }
}

.gamesConWrapper.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#filteredGames {
    padding: 10px 8px;
}

.back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    transition: opacity 0.2s;
    opacity: 1;
}

#back-to-top {
    border-radius: 30px;
    transition: 250ms;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
    box-sizing: border-box;
    padding: 8px 16px;
    background: #a48eff;
    color: rgb(249, 250, 255);
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 40px;
    width: 50px;
}

#back-to-top svg {
    height: 25px;
    width: 25px;
    margin-right: 0px;
    position: absolute;
    fill: #fff;
}
